

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.search-bar {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  z-index: 1000;
  background-color: white;
}

/* Dropdown bar */

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: fixed;
  top: 20px;
  right: 50px;
}

.dropdown-content {
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-content a {
  position: center;
  color: black;
  padding: 12px 16px; 
  text-decoration: none;
  display: block;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.dropdown-content a:hover {background-color: #e4f6fe;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #1f1f1f;}

/* Pokemon card styling */

.pokemon-card {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
  border: 1px solid black;
  /* background-image: linear-gradient(rgb(255, 255, 255), rgb(224, 215, 215)); */
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.stat-list {
  list-style: none;    
  padding: 0;
  margin: 0 auto;       
  text-align: center;  
}

.stat-list li {
  margin: 4px 0;
}


/* .type-fire {
  background-image: linear-gradient(red, yellow);
}

.type-water {
  background-image: linear-gradient(rgb(88, 149, 255), white);
}

.type-poison{
  background-image: linear-gradient(rgb(138, 67, 138), rgb(94, 119, 74));
}

.type-electric {
  background-image: linear-gradient(rgb(255, 217, 0), rgb(244, 227, 156))
}

.type-grass {
  background-image: linear-gradient(rgb(99, 181, 61), rgba(165, 136, 69, 0.749))
}

.type-bug {
  background-image: linear-gradient(rgb(141, 237, 114), rgb(244, 227, 156))
}

.type-ground {
  background-image: linear-gradient(rgb(177, 84, 84), rgb(244, 227, 156))
}

.type-fairy {
  background-image: linear-gradient(rgb(240, 161, 234), rgb(212, 199, 130))
}

.type-psychic {
  background-image: linear-gradient(rgb(115, 2, 115),white)
}

.type-fighting {
  background-image: linear-gradient(orange, white)
}

.type-rock {
  background-image: linear-gradient(rgb(133, 133, 133), rgb(196, 195, 192))
}

.type-dragon {
  background-image: linear-gradient(rgb(238, 108, 130), rgb(167, 207, 242))
}

.type-dark {
  background-image: linear-gradient(rgb(240, 161, 234), rgb(212, 199, 130))
} */

.collected-symbol {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: gold;
  color: black;
  padding: 4px 6px;
  border-radius: 100%;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.pokemon-card:hover {
  transform: scale(1.05);
}






